name: Java CI with Gradle

on:
  push:
    branches: [ "master" ]
    paths-ignore:
      - "**/*.md"
      - "LICENSE"
  pull_request:
    branches: [ "master" ]

concurrency:
  group: gradle-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: gradle

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-home-cache-cleanup: true

      - name: Build with Gradle
        run: |
          ./gradlew build \
            --no-daemon \
            --parallel \
            --build-cache
